
<h1>getblogs</h1>
<form action="/blogs" method="post">
    <div>
      
        <label for="title">title</label>
        <input type="text" id="title" name="title" >
         <br>
        <label for="tags">tags</label>
        <input type="text" id="tags" name="tags" >
        <br>
        <label for="category">category</label>
        <input type="text" id="category" name="category">
        <br>
        <label for="subcategory">subcategory</label>
        <input type="text" id="subcategory" name="subcategory" >
    </div>
    <br>
    <button type="submit">Login</button>
</form>
